HELP.md

target/
build/
logs/
*.log
*.class
*.jar

!.mvn/wrapper/maven-wrapper.jar

src/main/resources/.env

.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/

.DS_Store
Thumbs.db